
<div class="block {{feature.back}}" >
    <img class="image" src={{feature.image}}>
    <div class="text">
        <h3>{{feature.title}}</h3>
        <div>
            {{feature.text}}
        </div>
        <a href={{feature.link}}>
            Learn more&emsp;
            <img src="images/request-arrow.png">
        </a>
    </div>
</div>

